.hero2-section {
    background-color: #4a3191;
    height: 50vh; /* Use half the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative; /* Ensure relative positioning */
    padding-top: 50px; /* Move hero2 down */
    transition: transform 0.3s ease, margin-top 0.3s ease; /* Smooth scaling and margin-top transition */
}

/* Adjust scaling for smaller screens */
@media (max-width: 1200px) {
    .hero2-section {
        transform: scale(0.9); /* Scale down to 90% */
        padding-top: 70px; /* Move down more */
    }
}

@media (max-width: 992px) {
    .hero2-section {
        transform: scale(0.8); /* Scale down to 80% */
        padding-top: 100px; /* Move down more */
    }
}

@media (max-width: 768px) {
    .hero2-section {
        transform: scale(0.7); /* Scale down to 70% */
        padding-top: 150px; /* Move down more */
    }
}

@media (max-width: 576px) {
    .hero2-section {
        transform: scale(0.6); /* Scale down to 60% */
        padding-top: 200px; /* Move down more */
    }
}

@media (max-width: 400px) {
    .hero2-section {
        transform: scale(0.5); /* Scale down to 50% */
        padding-top: 250px; /* Move down more */
    }
}

model-viewer {
    width: 100%;
    height: 100%;
    max-width: 600px; /* Adjust as needed */
    max-height: 600px; /* Adjust as needed */
}