/* Hero Section Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh; /* Use half the viewport height */
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden; /* Prevent overflow */
}

.date-time {
    margin-top: 20px;
    font-size: 1em;
    color: black;
    margin-bottom: 20px;
}

@keyframes breathingGlow {
    0% {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.6), 0 0 5px rgba(255, 255, 255, 0.6), 0 0 8px rgba(0, 0, 0, 0.6);
    }
    50% {
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(0, 0, 0, 0.6);
    }
    100% {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.6), 0 0 5px rgba(255, 255, 255, 0.6), 0 0 8px rgba(0, 0, 0, 0.6);
    }
}

.button {
    background: none;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family: 'UnifrakturCook', cursive; /* Apply the same font as the logo */
    animation: breathingGlow 4s infinite; /* Apply the breathing glow animation */
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

.social-icons {
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Stack the icons vertically */
    align-items: center;
}

.social-icons a {
    margin: -5px 0; /* Reduced the margin */
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
}

.social-icons a:hover {
    transform: scale(1.2);
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .date-time {
        font-size: 0.9em;
    }
    .button {
        font-size: 1em;
        padding: 8px 16px;
    }
    .social-icons img {
        width: 50px; /* Adjust the size for mobile */
        height: 50px; /* Adjust the size for mobile */
    }
}
#hero1 {
    width: 100%;
    background-color: white;
}

@media (max-width: 768px) {
    #hero1 {
        height: 500px; /* Mobile height */
    }
}

@media (min-width: 769px) {
    #hero1 {
        height: 600px; /* Desktop height */
    }
}
